*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  letter-spacing: 0.8px;
}

  // Colors
  $br-sm-2: 14px;
  $trans: all .3s ease-in-out;
  $trans-2: all .2s ease-in-out;
  $shadow-1: 0 11px 15px rgba(0, 0, 0, 0.7);
  $shadow-2: 1px 8px 15px rgba(0, 0, 0, 0.3);
  $shadow-3: 0px 9px 15px rgba(0, 0, 0, 0.5);

:root {
  --c-primary: #15141a;
  --c-secondary: #2e90a8;
  --c-white: #FFF;
  --c-black: #000;
  --c-gray: #f8f8f8;
  --c-gray-1: #dbe1e8;
  --c-gray-2: #b2becd;
  --c-gray-3: #6c7983;
  --c-gray-4: #454e56;
  --c-gray-5: #2a2e35;
  --c-gray-6: #12181b;
}
.light-mode {
  --c-primary: #e0e0e0;
  --c-secondary: #1a7a92;
  --c-white: #202020;
  --c-black: #111111;
  --c-gray-1: #0e0e0e;
  --c-gray-2: #3d3d3d;
  --c-gray-3: #202020;
  --c-gray-4: #979797;
  --c-gray-5: #d3d3d3;
  --c-gray-6: #0c0c0c;
}

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat($val, 1fr);
}

body {
  font-family: 'Roboto', 'Poppins', sans-serif;
  background-color: var(--c-primary);
  font-size: 18px;
  color: var(--c-white);
  transition: $trans;
}

// Switch Themes
.toggle-theme {
  position: absolute;
  top: -90px;
  left: 50%;
  overflow: hidden;
  transform: translate3d(-50%, -50%, 0);
  color: white;
  input {
    position: absolute;
    left: -99em;
    &:checked + .toggle {
      background-color: #366fbe;
    }
    
    &:checked + .toggle .toggle-handler {
      background-color: #ffe5b5;
      transform: translate3d(30px, 0, 0) rotate(0);
    }
    
    &:checked + .toggle .toggle-handler .crater {
      opacity: 1;
    }
    
    &:checked + .toggle .star-1 {
      width: 2px;
      height: 2px;
    }
    
    &:checked + .toggle .star-2 {
      width: 4px;
      height: 4px;
      transform: translate3d(-5px, 0, 0);
    }
    
    &:checked + .toggle .star-3 {
      width: 2px;
      height: 2px;
      transform: translate3d(-7px, 0, 0);
    }
    
    &:checked + .toggle .star-4, &:checked + .toggle .star-5, &:checked + .toggle .star-6 {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    
    &:checked + .toggle .star-4 {
      transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    
    &:checked + .toggle .star-5 {
      transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    
    &:checked + .toggle .star-6 {
      transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
  }
  .toggle {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 60px;
    height: 30px;
    background-color: #83d8ff;
    border-radius: 20px;
    transition: background-color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    .toggle-handler {
      display: inline-block;
      position: relative;
      z-index: 1;
      top: 4px;
      left: 4px;
      width: 22px;
      height: 22px;
      background-color: #ffcf96;
      border-radius: 50%;
      box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
      transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transform: rotate(-10deg);
      .crater {
        position: absolute;
        background-color: #e8cda5;
        opacity: 0;
        transition: opacity .2s ease-in-out;
        border-radius: 100%;
      }
      .crater-1 {
        top: 3px;
        left: 15px;
        width: 2px;
        height: 2px;
      }
      .crater-2 {
        top: 4px;
        left: 4px;
        width: 4px;
        height: 4px;
      }
      .crater-3 {
        top: 10px;
        left: 10px;
        width: 6px;
        height: 6px;
      }
    }
    .star {
      position: absolute;
      background-color: #fff;
      transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      border-radius: 50%;
    }
    
    .star-1 {
      top: 4px;
      left: 30px;
      z-index: 0;
      width: 25px;
      height: 3px;
    }
    
    .star-2 {
      top: 13px;
      left: 18px;
      z-index: 1;
      width: 30px;
      height: 3px;
    }
    
    .star-3 {
      top: 22px;
      left: 30px;
      z-index: 0;
      width: 20px;
      height: 3px;
    }
    
    .star-4, .star-5, .star-6 {
      opacity: 0;
      transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    
    .star-4 {
      top: 16px;
      left: 4px;
      z-index: 0;
      width: 2px;
      height: 2px;
      transform: translate3d(3px, 0, 0);
    }
    
    .star-5 {
      top: 2px;
      left: 17px;
      z-index: 0;
      width: 3px;
      height: 3px;
      transform: translate3d(3px, 0, 0);
    }
    
    .star-6 {
      top: 16px;
      left: 28px;
      z-index: 0;
      width: 2px;
      height: 2px;
      transform: translate3d(3px, 0, 0);
    }
    
  }
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

// Button
.btn-con {
  display: flex;
  align-self: flex-start;
}
.main-btn {
  border-radius: 10px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--c-secondary);
  display: flex;
  align-items: center;
  overflow: hidden;
  .btn-text {
    padding:  0 20px;
  }
  .btn-icon {
    background-color: var(--c-secondary);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: $trans;
    z-index: -1;
  }
  &:hover {
    &::before { 
      width: 100%;
      height: 100%;
      background-color: var(--c-secondary);
      transform: translateX(0);
    }
  }
}

.main-title {
  text-align: center;
  h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 30px;
    span {
      color: var(--c-secondary);
    }
  }
}

.second-title {
  text-transform: uppercase;
  font-size: 27px;
  padding: 50px 0;
  text-align: center;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 40%;
    height: 1px;
    background-color: var(--c-gray-5);
    transform: translateX(-50%);
  }
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 45px 175px;
  transform: translateY(-100%) scale(0);
  transition: $trans;
  background-color: var(--c-primary);
}


.sec1, .sec2, .sec3, .sec4, .sec5{
  display: none;
  transform: translateY(0) scale(1);
}

.active {
  display: block;
  animation: scaleAnim 0.7s ease-in-out;
  @keyframes scaleAnim {
    0% {
      transform: translateY(-100%) scaleY(0);
    }
    100% {
      transform: translateY(0) scaleY(1);
    }
  }
}

.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  gap: 15px;
  .active-btn {
    background-color: var(--c-secondary) !important;
    transition: $trans;
    i {
      color: var(--c-white) !important;
    }
  }
  .control {
    padding: 10px;
    cursor: pointer;
    background-color: var(--c-gray-4);
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: $shadow-2;
    transition: $trans-2;
    &:hover {
      box-shadow: $shadow-1;
      transform: scale(1.04);
    }
    i {
      font-size: 16px;
      color: var(--c-gray-2);
      pointer-events: none;
    }
  }
}

// Home

.home {
  height: 100vh;
  color: var(--c-white);
  overflow: hidden;
  .home-content {
    @include grid(2);
    height: 100%;
    .left-home {
      display: flex;
      align-items: center;
      position: relative;
      margin: 30px 0;
      .h-shape {
        transition: $trans;
        width: 65%;
        height: 100%;
        background-color: var(--c-secondary);
        position: absolute;
        left: 0;
        top: 0;
        z-index: -10;
        clip-path: polygon(35% 15%, 85% 0%, 85% 85%, 35% 100%);
      }
      .image {
        border-radius: $br-sm-2;
        height: 75%;
        width: 50%;
        margin-left: 100px;
        background-color: var(--c-black);
        transition: $trans;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: $trans;
          border-radius: $br-sm-2;
          filter: grayscale(90%);
          &:hover {
            filter: grayscale(0);
          }
        }
      }
    }
    .right-home {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 200px;
      .name {
        font-size: 30px;
        span {
          color: var(--c-secondary);
          font-size: 35px;
        }
      }
      p {
        margin: 30px 0;
        line-height: 30px;
      }
      .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .icon{
          a{
            border-radius: 10px;
            padding: 5px 8px;
            transition: $trans;
            &:hover {
              box-shadow: $shadow-1;
              transform: translateY(-1px);
            }
          }
          .github {
            background: rgb(51,51,51);
            background: linear-gradient(140deg, rgba(51,51,51,1) 55%, rgba(170,170,170,1) 100%);
          }
          .linkedin {
            background: rgb(0,65,130);
            background: linear-gradient(140deg, rgba(0,65,130,1) 55%, rgba(238,238,238,1) 100%);
          }
          .gmail{
            background: rgb(255,76,76);
            background: linear-gradient(140deg, rgba(255,76,76,1) 55%, rgba(238,238,238,1) 100%);
          }
        }
      }
    }
  }
}

// About

.about {
  
  .about-container {
    @include grid(2);
    padding: 70px 0 70px 0;
    .right-about {
      @include grid(2);
      gap: 20px;
      .about-item {
        border: 1px solid var(--c-gray-5);
        border-radius: 5px;
        transition: $trans;
        box-shadow: $shadow-2;
        display: flex;
        justify-content: center;
        align-items: center;
        &:first-child i {
          animation: rounded 3s linear infinite;
            @keyframes rounded {
              0% {
                transform: rotate(0deg) scale(1);
              }
              50% {
                transform: rotate(180deg) scale(1.3);
              }
              100% {
                transform: rotate(360deg) scale(1);
              }
            }
        }
        &:hover {
          cursor: default;
          transform: translateY(-5px);
          border-color: var(--c-secondary);
          box-shadow: $shadow-1;
        }
        .about-text {
          padding: 20px;
          display: flex;
          flex-direction: column;
          gap: 20px;
          align-items: center;
          i {
            font-size: 30px;
            font-weight: 700;
            color: var(--c-secondary);
            transform: scale(1);
          }
          .small-text {
            text-align: center;
            position: relative;
            text-transform: uppercase;
            font-size: 20px;
            color: var(--c-gray-1);
            letter-spacing: 2px;
            &::before {
              content: '';
              position: absolute;
              left: 0;
              top: 15px;
              height: 2px;
              background-color: var(--c-gray-4);
            }
          }
        }
      }
    }
    .left-about {
      padding-right: 75px;
      p {
        line-height: 25px;
        padding: 15px;
        color: var(--c-gray-1);
      }
      h4 {
        font-size: 27px;

      }
      position: relative;
    }
    .down {
      position: absolute;
      top: 85vh;
      left: 70px;
      font-size: 30px;
      animation: go-down 1s ease-in infinite;
      @keyframes go-down {
        0%{
          top: 85vh;
        }
        50%{
          top: 88vh;
        }
        100% {
          top: 85vh;
        }
      }
    }
  }
  .about-skills {
    padding-bottom: 70px;
    .progress-bars {
      @include grid(2);
      gap: 20px;
      .progress-bar {
        display: flex;
        flex-direction: row;
        gap: 10px;
        .icon {         
          img{
            width: 40px;
            filter: drop-shadow(-5px 8px 3px var(--c-black));
          }
        }
        .progress-con {
          display: flex;
          align-items: center;
          width: 75%;
          .progress-text {
            color: var(--c-gray-2);
          }
          .progress {
            width: 100%;
            height: 6px;
            position: relative;
            background-color: var(--c-gray-4);
            span {
              position: absolute;
              left: 0;
              top: 0;
              height: 100%;
              background-color: var(--c-secondary);
              &::before {
                content: attr(data-prog);
                position: absolute;
                right: 0px;
                top: -8px;
                font-size: 13px;
                font-style: italic;
                background-color: var(--c-secondary);
                padding: 2px 4px;
                border-radius: 5px;
                border-bottom: 1px solid transparent; 
              }
            }
          }
        }
      }
    }
  }
  .experince {
    @include grid(2);
    gap: 50px;
    padding-bottom: 40px;
    .experince-item {
      position: relative;
      padding-left: 20px;
      border-left: 1px solid var(--c-gray-5);
      .ex-icon {
        position: absolute;
        left: -55px;
        top: 0;
        background-color: var(--c-secondary);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        width: 40px;
        height: 40px;
        i {
          font-size: 22px;
          margin-left: 1.5px;
        }
      }
      .ex-duraction {
        padding: 5px 8px;
        background-color: var(--c-gray-4);
        border-radius: 15px;
        display: inline-block;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 500;
      }
      h5 {
        margin: 10px 0;
        font-size: 24px;
        font-weight: 600;
        span {
          color: var(--c-gray-2);
          font-weight: 500;
          font-size: 22px;
        }
      }
      p{
        font-size: 15px;
        color: var(--c-gray-2);
      }
    }
  }
}

// Portfolio

.portfolio {

  .filters {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    gap: 20px;
    .filter {
      padding: 5px ;
      width: 50px;
      height: 50px;
      text-align: center;
      cursor: pointer;
      img {
        width: 35px;
        padding-bottom: 5px;
        filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.8));
      }
    }
    .active {
      transform: translateY(-10px);
      border-bottom: 2px solid var(--c-secondary);
    }
    .html {
      width: 60px;
      img {
        width: 20px;
        margin-top: 8px;
      }
    }
  }
  .projects {
    @include grid(2);
    gap: 20px;
    margin-top: 50px;
    .project {
      position: relative;
      width: 450px;
      height: 200px;
      border-radius: 10px;
      box-shadow: $shadow-3;
      border: 1px solid var(--c-gray-5);
      transform: preserve-3d;
      perspective: 900px;
      cursor: pointer;
      &:hover > .front{
        transform: perspective(600px) rotateX(-180deg);
      }
      &:hover > .back{
        transform: perspective(600px) rotateX(0deg);
      }
      .front, .back {
        width: 100%;
        height: 100%;
        overflow: hidden;
        backface-visibility: hidden;
        position: absolute;
        border-radius: 10px;
        transition: transform .6s linear;
      }
      .front {
        transform: perspective(600px) rotateX(0deg);
        img{
          width: 100%;
          object-fit: cover;
        }
      }
      .back {
        background-color: var(--c-gray-4);
        transform: perspective(600px) rotateX(180deg);
        .container {
          height: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: space-between;
          padding: 20px 0 30px 0;
          .content {
            text-align: center;
            h2 {
              color: var(--c-secondary);
              margin-bottom: 5px;
            }
            p {
              color: var(--c-gray-1);
              font-size: 14px;
            }
          }
          .icon img{
            width: 25px;
            height: 25px;
          }
          .links {
            display: flex;
            gap: 20px;
            .btn-con {
              .main-btn {
                font-weight: 500;
                font-size: 16px;
                .btn-text {
                  padding:  0 7px;
                }
                .btn-icon {
                  padding: 7px;
                }
              }
            }
          }
        }
      }
    }
  }
}
.d-none {
  opacity: 0.5;
  cursor: no-drop;
}

// Contact

.contact {
  .info-container {
    display: flex;
    padding-top: 70px;
    gap: 50px;
    .left-contact {
      flex: 2;
      h4 {
        font-size: 25px;
        text-transform: uppercase;
      }
      .sub-title {
        margin-bottom: 20px;
        font-size: 15px;
        color: var(--c-gray-2);
      }
      .info {
        display: flex;
        flex-direction: column;
        gap: 25px;
        justify-content: space-between;
        margin: 70px 0;
        .item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          p {
            text-align: right;
            font-size: 16px;
            color: var(--c-gray-1);
          }
          .icon {
            i {
              color: var(--c-secondary);
              margin-right: 2px;
            }
            span {
              font-size: 18px;
            }
          }
        }
      }
      .social-icon{
        a{
          border-radius: 10px;
          padding: 5px 8px;
          transition: $trans;
          &:hover {
            box-shadow: $shadow-1;
            transform: translateY(-1px);
          }
        }
        .github {
          background: rgb(51,51,51);
          background: linear-gradient(140deg, rgba(51,51,51,1) 55%, rgba(170,170,170,1) 100%);
        }
        .linkedin {
          background: rgb(0,65,130);
          background: linear-gradient(140deg, rgba(0,65,130,1) 55%, rgba(238,238,238,1) 100%);
        }
        .gmail{
          background: rgb(255,76,76);
          background: linear-gradient(140deg, rgba(255,76,76,1) 55%, rgba(238,238,238,1) 100%);
        }
      }
    }
    .right-contact {
      flex: 3;
      .inputs {
        input, textarea{
          border-radius: 8px;
          font-weight: inherit;
          font-size: inherit;
          font-family: inherit;
          padding: 10px 15px;
          outline: none;
          border: none;
          color: var(--c-white);
          resize: none;
          width: 100%;
          margin-bottom: 20px;
          background-color: var(--c-gray-5);
          transition: $trans;
          &:valid {
            box-shadow: $shadow-2;
          }
        }
      }
      .submit {
        display: flex;
        justify-content: flex-start;
      }
    }
  }
}

// Responsive 
@mixin breakpoints($point){
  @if $point == mobile{
      @media (max-width: 767px){
          @content;
      }
  } @else if $point == tablet {
      @media (max-width: 991px){
          @content;
      }
  } @else if $point == medium {
      @media (max-width: 1199px){
          @content;
      }
  } 
}

@include breakpoints(medium) {
  .main-btn {
    .btn-text {
      padding:  0 10px;
    }
    .btn-icon {
      padding: 8px;
    }
  }
  
  .second-title {
    font-size: 24px;
  }
  
  section {
    padding: 45px 100px;
  }
    
  .controls {
    right: 2%;
    .control {
      padding: 8px;
    }
}
  
  // Home
  
  .home {
    .home-content {
      .left-home {
        .h-shape {
          width: 60%;
          height: 80%;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          clip-path: polygon(100% 31%, 100% 65%, 0 65%, 0 31%);
        }
        .image {
          width: 55%;
          height: 70%;
          margin-left: 70px;
        }
      }
      .right-home {
        padding-right: 150px;
        margin-left: -50px;
        .name {
          font-size: 27px;
          span {
            font-size: 32px;
          }
        }
      }
    }
  }
  
  // About
  
  .about { 
    .about-container {
      padding-top: 60px;
      .right-about {
        gap: 10px;
        .about-item {
          .about-text {
            gap: 10px;
            i {
              font-size: 27px;
            }
          }
        }
      }
      .left-about {
        padding-right: 20px;
        p {
          font-size: 16px;
        }
        h4 {
          font-size: 25px;
        }
        position: relative;
      }
      .down {
        left: 40px;
        font-size: 27px;
        }
      }
    .experince {
      .experince-item {
        .ex-icon {
          i {
            font-size: 20px;
            margin-left: 1.5px;
          }
        }
        h5 {
          font-size: 22px;
          span {
            font-size: 20px;
          }
        }
      }
    }
  }
  
  // Portfolio
  
  .portfolio {
      .projects {
      gap: 20px;
      .project {
        width: 350px;
        height: 160px;
        .back {
          .container {
            padding: 20px 0 30px 0;
            .content {
              h2 {
                font-size: 20px;
              }
              p {
                font-size: 12px;
              }
            }
            .icon img{
              width: 20px;
              height: 20px;
            }
            .links {
              gap: 10px;
              .btn-con {
                .main-btn {
                  font-size: 12px;
                  border-radius: 4px;
                  .btn-text {
                    padding:  0 5px;
                  }
                  .btn-icon {
                    padding: 5px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  
  // Contact
  
  .contact {
    .info-container {
      padding-top: 60px;
      gap: 25px;
      .left-contact {
        h4 {
          font-size: 22px;
        }
        .sub-title {
          font-size: 14px;
        }
        .info {
          gap: 20px;
          margin: 60px 0;
          .item {
            p {
              font-size: 14px;
            }
            .icon {
              span {
                font-size: 16px;
              }
            }
          }
        }
        .social-icon{
          a{
            border-radius: 10px;
            padding: 5px 8px;
            transition: $trans;
            &:hover {
              box-shadow: $shadow-1;
              transform: translateY(-1px);
            }
          }
          .github {
            background: rgb(51,51,51);
            background: linear-gradient(140deg, rgba(51,51,51,1) 55%, rgba(170,170,170,1) 100%);
          }
          .linkedin {
            background: rgb(0,65,130);
            background: linear-gradient(140deg, rgba(0,65,130,1) 55%, rgba(238,238,238,1) 100%);
          }
          .gmail{
            background: rgb(255,76,76);
            background: linear-gradient(140deg, rgba(255,76,76,1) 55%, rgba(238,238,238,1) 100%);
          }
        }
      }
      .right-contact {
        .inputs {
          input, textarea{
            font-size: 16px;
          }
        }
        .submit {
          font-size: 18px;
        }
      }
    }
  }
}

@include breakpoints(tablet) {

  body {
    font-size: 15px;
  }

  .main-btn {
    .btn-text,  .btn-icon {
      font-size: 14px;
    }
  }

  .toggle-theme {
    top: -110px;
    left: 50%;
  }

  .main-title {
    h2 {
      font-size: 25px;
    }
  }
  
  .second-title {
    font-size: 22px;
  }
  
  section {
    padding: 45px 75px;
  }
    
  
  .controls {
    .control {
      padding: 8px;
      width: 40px;
      height: 40px;
      border-radius: 8px;
      i {
        font-size: 14px;
      }
    }
  }
   
  
  // Home
  
  .home {
    .home-content {
      .left-home {
        .image {
          width: 55%;
          height: 65%;
          margin-left: 70px;
        }
      }
    }
  }
  
  // About
  
  .about { 
    .about-container {
      padding-top: 50px;
      .right-about {
        .about-item {
          .about-text {
            padding: 10px 0;
            .small-text {
              font-size: 16px;
            }
          }
        }
      }
      .left-about {
        padding-right: 10px;
        p {
          font-size: 15px;
          line-height: 20px;
        }
        h4 {
          font-size: 22px;
        }
      }
    }
    .about-skills {
      padding-bottom: 50px;
      .progress-bars {
        gap: 10px;
        .progress-bar {
          gap: 10px;
          .icon {         
            img{
              width: 35px;
            }
          }
          .progress-con {
            .progress {
              height: 4px;
              span {
                &::before {
                  font-size: 10px;
                }
              }
            }
          }
        }
      }
    }
    .experince {
      @include grid(2);
      gap: 30px;
      padding-bottom: 30px;
      .experince-item {
        padding-left: 15px;
        .ex-icon {
          border-radius: 6px;
          width: 30px;
          height: 30px;
          left: -40px;
          i {
            font-size: 18px;
            margin-left: 2px;
          }
        }
        .ex-duraction {
          padding: 3px 5px;
          border-radius: 10px;
          font-size: 11px;
        }
        h5 {
          margin: 8px 0;
          font-size: 20px;
          span {
            font-size: 18px;
          }
        }
        p{
          font-size: 14px;
        }
      }
    }
  }
  
  // Portfolio
  
  .portfolio {
    .filters {
      margin-top: 50px;
      gap: 15px;
      .filter {
        padding: 5px;
        width: 40px;
        height: 40px;
        text-align: center;
        cursor: pointer;
        img {
          width: 25px;
          padding-bottom: 5px;
          filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.8));
        }
      }
      .active {
        transform: translateY(-10px);
        border-bottom: 2px solid var(--c-secondary);
      }
      .html {
        width: 50px;
        img {
          width: 15px;
          margin-top: 5px;
        }
      }
    }
      .projects {
      gap: 10px;
      .project {
        width: 300px;
        height: 130px;
        .back {
          .container {
            .content {
              h2 {
                font-size: 18px;
                margin-bottom: 0;
              }
            }
            .icon img{
              width: 18px;
              height: 18px;
              margin-top: 5px;
            }
            .links {
              margin-top: 10px;
              gap: 10px;
              .btn-con {
                .main-btn {
                  border-radius: 4px;
                  .btn-text {
                    padding:  2px 4px;
                    font-size: 10px;
                  }
                  .btn-icon {
                    padding: 2px 4px;
                    font-size: 10px;
                    height: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  
  // Contact
  
  .contact {
    .info-container {
      .left-contact {
        h4 {
          font-size: 18px;
        }
        .sub-title {
          font-size: 12px;
        }
        .info {
          .item {
            p {
              font-size: 12px;
            }
            .icon {
              span, i {
                font-size: 15px;
              }
            }
          }
        }
        .social-icon{
          a{
            border-radius: 6px;
            padding: 3px 6px;
            i {
              font-size: 12px;
            }
          }
        }
      }
      .right-contact {
        .inputs {
          input, textarea{
            font-size: 15px;
            margin-bottom: 15px;
          }
        }
        .submit {
          font-size: 16px;
        }
      }
    }
  }
}

@include breakpoints(mobile) {
  body {
    font-size: 12px;
  }
  
  
  
  // Button
  .main-btn {
    border-radius: 4px;
    .btn-icon, .btn-text{
      padding: 2px 4px;
      height: 100%;
      font-size: 12px;
    }
  }
  
  .main-title {
    h2 {
      font-size: 18px;
    }
  }
  
  .second-title {
    font-size: 16px;
  }
  
  section {
    padding: 45px;
  }
    
  // Switch Themes
  .toggle-theme {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 50px;
  }

  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--c-gray-5);
    padding: 10px 0;
  }
  
  // Home
  
  .home {
    height: 100vh;
    color: var(--c-white);
    overflow: hidden;
    .home-content {
      display: flex;
      flex-direction: column;
      .left-home {
        height: 40%;
        .h-shape {
          left: 50%;
          transform: translateX(-50%) rotate(90deg);
          top: -50px;
        }
        .image {
          height: 75%;
          width: 50%;
          margin-left: auto;
          margin-right: auto;
        }
      }
      .right-home {
        align-items: center;
        padding: 0 30px;
        margin: 0;
        width: 100%;
        text-align: center;
        .name {
          font-size: 22px;
          span {
            font-size: 25px;
          }
        }
        p {
          margin: 20px 0;
          line-height: 15px;
        }
        .bottom {
          width: 100%;
        }
      }
    }
  }
  
  // About
  
  .about {
    .about-container {
      @include grid(1);
      padding:  20px;
      max-width: 100%;
      .right-about {
        @include grid(2);
        gap: 15px;
        margin: 20px 0;
        .about-item {
          .about-text {
            padding: 10px;
            gap: 10px;
            i {
              font-size: 20px;
            }
            .small-text {
              font-size: 12px;
            }
          }
        }
      }
      .left-about {
        padding-right: 0 10px;
        margin-top: 20px;
        p {
          padding: 15px 0;
          font-size: 13px;
        }
        h4 {
          font-size: 20px;  
        }
      }
      .down {
        display: none;
      }
    }
    .about-skills {
      padding-bottom: 30px;
      .progress-bars {
        @include grid(2);
        gap: 10px;
        .progress-bar {
          display: flex;
          flex-direction: row;
          gap: 10px;
          .icon {         
            img{
              width: 22px;
            }
          }
          .progress-con {
            display: flex;
            align-items: center;
            width: 75%;
            .progress {
              height: 3px;
              span {
                &::before {
                  top: -6px;
                  font-size: 6px;
                  padding: 2px 3px;
                  border-radius: 3px;
                }
              }
            }
          }
        }
      }
    }
    .experince {
      @include grid(1);
      gap: 50px;
      padding: 0 20px 20px 20px;
      margin-left: auto;        
      margin-right: auto;     
      .experince-item {
        h5 {
          font-size: 16px;
          span {
            font-size: 14px;
          }
        }
        p {
          font-size: 13px;
        }
      }
    }
  }
  
  // Portfolio
  
  .portfolio {
    .filters {
      .filter {
        width: 30px;
        height: 30px;
        border: none;
        img {
          width: 25px;
        }
      }
      .html {
        width: 60px;
        img {
          width: 20px;
          margin-top: 2px;
        }
      }
    }
    .projects {
      @include grid(1);
      gap: 20px;
      .project {
        width: 270px;
        height: 120px;
        border-radius: 8px;
        margin-left: auto;
        margin-right: auto;
        .front, .back {
          border-radius: 8px;
        }
        .back {
          .container {
            padding: 10px;
            .content {
              h2 {
                font-size: 15px;
              }
              p {
                font-size: 10px;
              }
            }
            .icon img{
              width: 18px;
              height: 18px;
            }
            .links {
              gap: 10px;
              .btn-con {
                .main-btn {
                  .btn-text, .btn-icon {
                    padding:  2px 4px;
                    font-size: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  
  // Contact
  
  .contact {
    .info-container {
      flex-direction: column;
      padding-top: 35px;
      gap: 30px;
      .left-contact {
        text-align: center;
        h4 {
          font-size: 16px;
        }
        .sub-title {
          margin-bottom: 20px;
          font-size: 10px;
        }
        .info {
          gap: 25px;
          margin: 40px 0;
          .item {
            p {
              font-size: 14px;
            }
            .icon {
              i, span {
                font-size: 15px;
              }
            }
          }
        }
      }
      .right-contact {
        .inputs {
          input, textarea{
            padding: 5px 10px;
            background-color: var(--c-gray-5);
            font-size: 14px;
          }
        }
      }
    }
  }
}